In [2]:
#Importing csv File into Python Environment Using Pandas
#Import Dependencies
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine

# Create Engine to connect to sqlite Database
engine = create_engine("sqlite+pysqlite:///:memory:")

#Load csv File into python environment using pd.read_csv()
df = pd.read_csv('udemy_courses.csv')

# load the Dataframe into Table in the Database
df.to_sql('udemy_data', engine)

# Connect to Engine
db_engine = engine.connect()

print("All Successful and Query Ready!")

All Successful and Query Ready!

In [20]:
# Defining a Function to make it reusable to query different data from the Database
def query_db(query: str, db_conn: sqlalchemy.engine.base.Connection) -> pd.DataFrame:
    df = pd.read_sql(query, db_conn)
    return df

#Check
query_db("SELECT * FROM udemy_data LIMIT 5", db_engine)

,index,course_id,course_title,url,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
0,0,1070968,Ultimate Investment Banking Course,https://www.udemy.com/ultimate-investment-bank...,1,200,2147,23,51,All Levels,1.5,2017-01-18T20:58:58Z,Business Finance
1,1,1113822,Complete GST Course & Certification - Grow You...,https://www.udemy.com/goods-and-services-tax/,1,75,2792,923,274,All Levels,39.0,2017-03-09T16:34:20Z,Business Finance
2,2,1006314,Financial Modeling for Business Analysts and C...,https://www.udemy.com/financial-modeling-for-b...,1,45,2174,74,51,Intermediate Level,2.5,2016-12-19T19:26:30Z,Business Finance
3,3,1210588,Beginner to Pro - Financial Analysis in Excel ...,https://www.udemy.com/complete-excel-finance-c...,1,95,2451,11,36,All Levels,3.0,2017-05-30T20:07:24Z,Business Finance
4,4,1011058,How To Maximize Your Profits Trading Options,https://www.udemy.com/how-to-maximize-your-pro...,1,200,1276,45,26,Intermediate Level,2.0,2016-12-13T14:57:18Z,Business Finance

In [19]:
#Write a query for paid courses, showing the  course with the highest number of subscribers per month
query_db("""SELECT course_title, MAX(num_subscribers) AS highest_subscription,strftime('%m', published_timestamp) AS month
            FROM udemy_data 
            WHERE is_paid = 1 
            GROUP BY strftime('%m', published_timestamp)""", db_engine)

,course_title,highest_subscription,month
0,Learn Web Designing & HTML5/CSS3 Essentials in...,43285,01
1,Angular 4 (formerly Angular 2) - The Complete ...,73783,02
2,The Complete Web Developer Course 2.0,114512,03
3,Web Programming with Python,35267,04
4,The Complete Web Developer Masterclass: Beginn...,37141,05
5,Learning Dynamic Website Design - PHP MySQL an...,47886,06
6,The Complete HTML & CSS Course - From Novice T...,57422,07
7,Pianoforall - Incredible New Way To Learn Pian...,75499,08
8,Learn and Understand AngularJS,59361,09
9,Learn Javascript & JQuery From Scratch,84897,10
10,The Web Developer Bootcamp,121584,11
11,Modern React with Redux,50815,12

In [ ]:
#The Query Provided the Paid Course with the Highest number of subscribers per month(in each month from Janaury to December)

In [18]:
#Write a query for paid courses, showing the course with the highest sales per month
query_db("""SELECT course_title,MAX(price*num_subscribers) AS sales,strftime('%m', published_timestamp) AS month
            FROM udemy_data
            WHERE is_paid = 1
            GROUP BY strftime('%m', published_timestamp)""", db_engine)

                                         course_title     sales month
0            Master the MEAN Stack - Learn By Example   5030805    01
1   Angular 4 (formerly Angular 2) - The Complete ...  14018770    02
2               The Complete Web Developer Course 2.0  22902400    03
3   Coding for Entrepreneurs: Learn Python, Django...   4565340    04
4   The Complete Web Developer Masterclass: Beginn...   7242495    05
5   Photoshop for Entrepreneurs - Design 11 Practi...   7257600    06
6   The Complete HTML & CSS Course - From Novice T...  11197290    07
7   Pianoforall - Incredible New Way To Learn Pian...  15099800    08
8   Complete PHP Course With Bootstrap3 CMS System...  10789740    09
9         The Complete Ruby on Rails Developer Course   6567015    10
10                         The Web Developer Bootcamp  24316800    11
11                            Modern React with Redux   9146700    12

In [ ]:
#The Query Provided the Paid Course with the Highest Sales per month (in each month from January to December)